html, body {
    margin: 0px;
    padding: 0%;
}
.header {
    text-align: center;
}
#project-div {
    width: 25%;
    margin: 0 auto;
    padding: 1%;
  }
  .projects {
      margin: 0%;
      padding: 0%;
  }
  .contact-info {
    text-align: center;
}